<div class="modal fade modal-primary" id="addEnrollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="card card-login card-plain">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="modal-close-icon">&times;</span>
                    </button>


                    <div class="header header-primary text-center">
                        <h4>Search student.</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="text-center">
                            <label class="custom-form-label">
                                Search :
                                <input type="text" class="form-control custom-form mg-lr-7" id="addEnr-stu-text">
                            </label>
                        </div>
                        <table id="addEnrollMdl-table" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STUDENT NAME</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer text-right">
                        <button type="button" class="btn btn-fill btn-danger btn-sm" id="cancel-addEnroll-btn">Cancel
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { });
</script>