<!-- Modal for School Activity Detail(on Browse School Activities) -->
<div class="modal fade modal-primary" id="deleteActivityModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="card card-login card-plain">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="modal-close-icon">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body text-center">
                        <p>This will delete the activity record and all associated student participation hours.<br />
                            Do you
                            want to proceed?</p>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-fill btn-danger" id="delActMdl-del-btn">Yes</button>
                        <button type="button" class="btn btn-fill btn-default" id="delActMdl-cancel-btn">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>